<div class="container" id="home">

  <section id="name">
    <h1>Aleksandra Andriievskaya //</h1>
    <h2>Trainee JS Front-end Developer</h2>
  </section>

  <section class="row" id="general" (mouseenter)="nameRhymer()">
    <div class="col-sm-6 about-text">
      <div class="box rhymebox">
        <div class="center-wrap-sm">
          <h2>You can call me:</h2>
          <h2 class="rhymerarray">{{random1.name}} {{random2.name}}</h2>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="box prof-img">
        <img src="assets/images/me/about-straight.jpg" alt="">
      </div>
    </div>
  </section>

  <section class="row" id="work">
    <div class="col-xs-12">
      <h2>Aleksandra Andriievskaya is a real-live human being who wants to develop software and become a Senior Front-end JS Engineer.</h2>
    </div>
  </section>

</div>


