<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="d-flex justify-content-start">
    <a routerLink="/home" routerLinkActive="active" class="navbar-brand">
      <img src="assets/images/icons/logoResume.png" alt="">
    </a>
  </div>

    <div class="collapse navbar-collapse d-flex justify-content-end resume-nav" id="navbar-header">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active">WORK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills" routerLinkActive="active">SKILLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
        </li>
      </ul>
    </div>

</nav>


<nav class="navbar navbar-expand-lg navbar-light fixed-bottom nav-footer">
  <div class="d-flex justify-content-start">
    <a routerLink="/home" routerLinkActive="active" class="navbar-brand">
      <img src="assets/images/icons/logoResume.png" alt="">
    </a>
    <h4>Copyright © 2021 Aleksandra Andriievskaya.</h4>
  </div>

  <div class="collapse navbar-collapse d-flex justify-content-end resume-nav" id="navbar-footer">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">WORK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/skills" routerLinkActive="active">SKILLS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>
    </ul>
  </div>

</nav>



